.con{
  background-image: url(/images/bg2.png);
}
.container {
  background-image: url(/images/bg2.png);
  width: 100%;
  height: 100vh;
  margin: 0;
  justify-content: center;
  display: block;
  flex-direction: column;


}
.logo{
  padding-top: 6rem;
  width: 100%;
  text-align: center;
}
.logo img{
  width: 600px;
}
.charachter{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 29rem;
}
.charachter ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-inline-start: 0;
}
.Secondcha{
  padding-top: 154px;
  margin: 0;
}
.charachter ul li {
  position: relative;
  -webkit-animation: Cloudsbox 10s ease-in-out infinite;
}
@-webkit-keyframes Cloudsbox {
  from {
      top: -3em;
  }
  50% {
      top: -2em;
  }
  to {
      top: -3em;
  }
}
.charachter ul li .first{
  width: 270px;
  height: 285px;
  object-fit: cover;
  margin-top: -64px;
}
.charachter ul li .second{
  width: 187px;
  height: 152px;
  object-fit: cover;
  margin-top: 32px;
  margin-right: 66px;
}
.charachter ul li img {
  width: 230px;
  height: 220px;
  object-fit: cover;
}
.cloud{
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: Clouds-v 10s ease-in-out infinite;
}
@-webkit-keyframes Clouds-v {
  from {
      top: 38em;
  }
  50% {
      top:39em;
  }
  to {
      top: 38em;
  }
}
.cloudText {
  position: absolute;
  font-size: 23px;
  font-weight: 400;
  padding: 2rem 15rem;
  color: white;
  text-align: left;
  bottom: -540px;
}

.cloudText span{
  font-size: 23px;
  font-weight: bold;
}
.cloudText p{
  padding: 0.5rem 0 1rem 11rem;
  font-size: 21px;
}